/*
 * Patient Engagement Solutions Color System
 */
    
$template-bg-dark: #1B5162;

// Font Variables
$primary-font: "plusjakartasans";
$primary-font-bold: "plusjakartasans-bold";
$primary-font-light: "plusjakartasasans-light";
$primary-font-italic: "plusjakartasans-italic";
// $font-family: 'Lato', sans-serif;